html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  color: beige;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.d-app {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-board {
  cursor: pointer;
  display: flex;
}

.d-hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.d-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.d-stats p {
  margin-right: 20px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.d-new-cards {
  background-color: black;
  border: 1px solid beige;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
}

.d-debug {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 1em;
}

.d-debug p {
  margin-right: 20px;
}

.d-card {
  width: 242px;
  height: 340px;
  border: 1px solid grey;
  margin: 0.2em;
  text-align: center;
  border-radius: 10px;
  background-size: cover;
}

.flipped {
  opacity: 0.5;
}

.d-game-over {
  width: 100%;
}
