/* A MINIMAL RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* A SVG ICON SYSTEM */

.icon {
  margin: 0.4rem;
  display: inline-flex;
  align-self: center;
}

.icon img {
  height: 0.8rem;
  width: 0.8rem;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}

/* COMPONENETS */

/* Basic styles. Responsive styles adding further down under media queries */

/* THE BODY COMPONENT */

body {
  display: flex;
  justify-content: center;
  justify-items: flex-start;
  background-color: black;
}

/* THE APP COMPONENT */

.d-app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* THE HUD COMPONENT */

.d-hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.d-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.d-stats--stat {
  font-weight: 700;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.d-stats--stat--label {
  display: flex;
  flex-direction: row;
}

.d-stats--stat p {
  display: inline-flex;
  flex-direction: row;
}

.d-vitality,
.d-attack,
.d-attack-break {
  font-weight: 900;
}

.d-pass {
  background-color: black;
  border: 2px solid black;
  color: white;
  font-weight: 700;
  font-style: italic;
}

/* THE BOARD COMPONENT */

.d-board {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.d-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* OTHER */

.d-game-over {
  font-weight: 700;
  font-style: italic;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
}

/* UTILITISE */

.flipped {
  opacity: 0.5;
}

/* MEDIA QUERIES */

/* Phone only */
@media (max-width: 599px) {
  .d-app {
    width: 94%;
  }
  .d-stats--stat {
    margin-right: 0.2rem;
  }
  .d-stats p {
    font-size: 0.6rem;
  }
  .d-vitality,
  .d-attack,
  .d-attack-break {
    font-size: 1.4rem;
  }
  .d-pass {
    font-size: 0.6rem;
  }
}

/* Phone portrait only*/
@media (max-width: 599px) and (orientation: portrait) {
  .d-hud {
    padding: 0.6rem;
  }
  .d-board {
    align-content: flex-start;
  }
  .d-card-container {
    width: 48%;
    margin: 1%;
  }
}

/* Phone landscape only */
@media (max-width: 599px) and (orientation: landscape) {
  .d-hud {
    padding: 0.4rem;
  }
  .d-board {
    align-content: flex-start;
  }
  .d-card-container {
    width: 24%;
    margin: 0.4%;
  }
}

/* Tablet and up */
@media (min-width: 600px) {
  .d-app {
    width: 96%;
  }
  .d-stats--stat {
    margin-right: 0.6rem;
  }
  .d-stats p {
    font-size: 0.6rem;
  }
  .d-vitality,
  .d-attack,
  .d-attack-break {
    font-size: 1.6rem;
  }
  .d-pass {
    font-size: 0.6rem;
  }
}

/* Tablet portrait only */
@media (min-width: 600px) and (orientation: portrait) {
  .d-hud {
    padding: 0.6rem;
  }
  .d-board {
    align-content: flex-start;
  }
  .d-card-container {
    width: 24%;
    margin: 0.4%;
  }
}

/* Tablet landscape only */
@media (min-width: 600px) and (orientation: landscape) {
  .d-hud {
    padding: 0.6rem;
  }
  .d-board {
    align-content: flex-start;
  }
  .d-card-container {
    width: 24%;
    margin: 0.4%;
  }
}

/* Tablet and up */
@media (min-width: 900px) {
  body {
    height: 100vh;
    align-items: center;
  }
  .d-app {
    width: 90%;
  }
  .d-board {
    align-items: flex-start;
    justify-content: space-between;
  }
  .d-card-container {
    width: 24%;
    /*
    margin: 0.4%;
    */
  }
}

/* Desktop and up */
@media (min-width: 1200px) {
  body {
    height: 100vh;
    align-items: center;
  }
  .d-app {
    width: 76%;
  }
  .d-board {
    align-items: flex-start;
  }
  .d-card-container {
    width: 24%;
    margin: 0.4%;
  }
}

/* Big desktop and up */
@media (min-width: 1800px) {
  body {
    height: 100vh;
    align-items: center;
  }
  .d-app {
    width: 68%;
  }
  .d-board {
    align-items: flex-start;
  }
  .d-card-container {
    width: 24%;
    margin: 0.4%;
  }
}
