html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-app {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-board {
  cursor: pointer;
  display: flex;
}

.d-stats {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.d-stats p {
  margin-right: 20px;
}

.d-debug {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.d-debug p {
  margin-right: 20px;
}

.d-card {
  width: 242px;
  height: 342px;
  border: 1px solid grey;
  padding: 1em;
  margin: 0.2em;
  text-align: center;
  border-radius: 10px;
}

.d-game-over {
  width: 100%;
}
